/* Estilo Geral */
body {
    background-color: #f7f7f7; /* Fundo cinza claro */
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 15px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.alert {
    margin-top: 15px;
    text-align: center;
}
